.coverWrapLeftSide {
  padding: 2% 0%;
  padding-right: 10%;
}
.coverNameTitle {
  font-weight: 700;
}
.coverOccupationPart {
  color: #6c6c6c !important;
  font-weight: lighter;
  font-size: 100% !important;
}
.coverDisPart {
  font-size: 86% !important;
}
.coverDisPartAnkorTag {
  color: #61af8d !important;
  font-weight: 550 !important;
  text-decoration: none;
  text-transform: lowercase;
}
.coverDisPartButton {
  margin-right: 6% !important;
  min-width: 42% !important;
}
.viewResumeButton {
  background: #61af8d !important;
}
.viewPortfolioButton {
  background: #4f4f4f !important;
}
.coverDisButtonTextPart {
  padding: 1% 3% !important;
  font-size: 88%;
  font-weight: 600;
  color: #ebfff7 !important;
}
.coverDisButtonFontAwesomeLogo {
  margin-right: 4%;
}
.buttonOutline:focus {
  outline: 0;
  box-shadow: none !important;
}
