.background {
  background: rgb(228, 230, 233);
  background: linear-gradient(
    90deg,
    rgba(228, 230, 233, 0.41780462184873945) 0%,
    rgba(228, 230, 233, 0.4066001400560224) 35%,
    rgba(228, 230, 233, 0.39539565826330536) 100%
  );
}
