.background {
  background: #55b689;
  color: #f5f2f9;
}
.underlinePart {
  height: 2px !important;
  max-width: 100% !important;
  background: #f1fffc !important;
  margin-bottom: 5%;
}

.rightSideWrap {
  padding: 5% 6%;
}

.whatIDoPart {
  font-weight: 700 !important;
}
.dashPart {
  position: relative;
  padding-left: 2%;
}
.dashPart::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2%;
  right: 0;
  bottom: 0;
  border-left: 8px solid #53b68c;
  display: inline-block;
}
.whatIDoPartParagraph {
  text-align: left;
  font-weight: 400 !important;
  font-size: 85% !important;
}
.whatIDoPartParagraphAnkorPart {
  color: #53b68c !important;
  text-decoration: none !important;
}
