.less {
  background-color: red;
}
.greater {
  background-color: wheat;
}

.even {
  background-color: green;
  padding: 5px 19px;
  transition: all 0.2s ease;
}
.odd {
  background-color: blue;
  padding: 5px 19px;
  transition: all 0.2s ease;
}
.danger {
  background-color: red;
  padding: 5px 19px;
  transition: all 0.2s ease;
}
