@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap"); /*Title text*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Pangolin&display=swap"); /*Description text*/
.profilePicWrap {
  padding: 7%;
  height: auto;
  width: 70% !important;
}

.profilePic {
  border-radius: 100% !important;
}
.titleText {
  font-family: "Pangolin", cursive;
  font-weight: 600;
  font-size: 175% !important;
}
.desciptionText {
  font-family: "PT Sans", sans-serif !important;
}
.soialMediaIndiVisualPart {
  background: #fdfdfd !important;
  padding: 1% 4%;
  margin-right: 4%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 147%;
  text-decoration: none !important;
}
.linkPart {
  color: #55b588 !important;
  transition: all 0.5s ease;
}
.linkPart:hover {
  color: #2b5c43 !important;
}
.profileImageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
