.bookImgSize {
  height: 100%;
  width: 100%;
}

.bookTitle {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}
.oddSection {
  background-color: burlywood;
}
.evenSection {
  background-color: cornflowerblue;
}
