.image {
    height: 100px;
    width: 100px;
}
.photoWrap{
    position: relative;
    display: inline-block;
}
.cross {
    position: absolute;
    top: 4%;
    right: 10%;
    color: #dddd !important
}