.proPic {
    height: 100px !important;
    width: 100px !important;
}
.proPicWrap {
    position: relative;
    display: inline-block;
}
.crossSign {
    position: absolute;
    top: 4%;
    right: 7%;
    color: white;
}