.listItem {
  list-style: none !important;
  margin-bottom: 5%;
}
.lisItemHover {
  transition: all 0.3s ease !important;
}
.lisItemHover:hover {
  color: #275d43 !important ;
}
.listAnkorTag {
  text-decoration: none;
  margin-left: 6%;
  font-weight: 600;
  color: #ffff !important;
}
.active {
  color: #275d43 !important;
}

.hireMeButton {
  background-color: #337a5a !important;
  color: #ffff !important;
  font-weight: 500 !important;
}
.hireMeButton:focus {
  outline: 0;
  box-shadow: none !important;
}
