.mainBackground {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8071603641456583) 0%,
    rgba(0, 0, 0, 0.8883928571428571) 35%,
    rgba(0, 0, 0, 0.8631827731092436) 100%
  );
}
