.loginTimeError {
    color: red;
    transition:  all 0.5s ease !important;
    -moz-transition:  all 0.5s ease !important;
    -webkit-transition:  all 0.5s ease !important;
    -ms-transition:  all 0.5s ease !important;
}